@use '../functions' as *;
@use '../variables' as *;
@use 'sass:map';

//prettier-ignore
$text-presets: (
  'h1-rubik-light-mobile': ('font-family': "Rubik", 'font-weight': 300, 'font-size': rem-calc(32), 'line-height': auto, 'letter-spacing': 0px),
  'h1-rubik-light-desktop': ('font-family': "Rubik", 'font-weight': 300, 'font-size': rem-calc(56), 'line-height': auto, 'letter-spacing': 0px),
  'h2-rubik-light-mobile': ('font-family': "Rubik", 'font-weight': 300, 'font-size': rem-calc(24), 'line-height': auto, 'letter-spacing': 0px),
  'h2-rubik-light-desktop': ('font-family': "Rubik", 'font-weight': 300, 'font-size': rem-calc(40), 'line-height': auto, 'letter-spacing': 0px),
  'p-rubik-medium': ('font-family': "Rubik", 'font-weight': 500, 'font-size': rem-calc(18), 'line-height': auto, 'letter-spacing': 0px),
  'p-rubik-regular': ('font-family': "Rubik", 'font-weight': 400, 'font-size': rem-calc(18), 'line-height': auto, 'letter-spacing': 0px),
  'p-rubik-regular-small': ('font-family': "Rubik", 'font-weight': 400, 'font-size': rem-calc(15), 'line-height': auto, 'letter-spacing': 0px),
);

@mixin typography($text-preset) {
  $preset: map.get($text-presets, $text-preset);
  font-family: map.get($preset, 'font-family');
  font-weight: map.get($preset, 'font-weight');
  font-size: map.get($preset, 'font-size');
  line-height: map.get($preset, 'line-height');
  letter-spacing: map.get($preset, 'letter-spacing');
}
